<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/custom/style.css">
    <title>Index</title>
</head>

<body>
    <div class="w-25 centerd">
        <form action="/subscribe" method="POST">
            <input type="text" class="form-control" name="username" placeholder="Enter Your username">
            <input type="email" class="form-control" name="email" placeholder="Enter Your Email">
            <button class="btn btn-warning" type="submit">Subscribe!!</button>
        </form>
    </div>
</body>
<script src="/bootstrap/js/bootstrap.min.js"></script>

</html>